<div class="show-sm">
    <div id="nav-toggle-box">
      <div id="nav-toggle-brand">
        <a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
      </div><a data-component="toggleme" data-target="#top" href="#" id="nav-toggle"><i class="kube-menu"></i></a>
    </div>
  </div>
  <div class="hide-sm" id="top">
    <div id="top-brand">
      <a href="{{ .Site.BaseURL }}" title="home">
        <svg class="wk-logo-main" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 218.3 134.9" width="84" height="50">
          <path style="fill: rgb(226, 19, 19);" class="st0" d="M33.5 134.4c-2.1 0-4.1-.5-6.1-1.5-6.3-3.4-8.7-11.2-5.4-17.6l29.6-55.5c3.4-6.3 11.2-8.7 17.6-5.4 6.3 3.4 8.7 11.2 5.4 17.6L45 127.5c-2.4 4.4-6.9 6.9-11.5 6.9zm49.6 0c-2.1 0-4.1-.5-6.1-1.5-6.3-3.4-8.7-11.2-5.4-17.6l29.6-55.5c3.4-6.3 11.2-8.7 17.6-5.4 6.3 3.4 8.7 11.2 5.4 17.6l-29.6 55.5c-2.4 4.4-6.8 6.9-11.5 6.9zm71.2 0c-1.6 0-3.2-.3-4.7-.9-5-1.9-8.3-6.7-8.3-12.1v-108c0-7.2 5.8-13 13-13s13 5.8 13 13V88l28-30.7c4.8-5.3 13-5.7 18.3-.9 5.3 4.8 5.7 13 .9 18.3l-50.6 55.5c-2.5 2.8-6.1 4.2-9.6 4.2z"></path>
          <circle style="fill: rgb(226, 19, 19);" class="st0" cx="13.4" cy="70" r="12.9"></circle>
          <circle style="fill: rgb(226, 19, 19);" class="st0" cx="204.8" cy="121.5" r="12.9"></circle>
        </svg>
      </a>
    </div>
    <nav id="top-nav-main">
      <ul>
       {{ $currentPage := . }}
       {{ range .Site.Menus.main }}
    <li><a href="{{ .URL }}" {{if  $currentPage.IsMenuCurrent "main" . }} class="active"{{end}}>{{ .Name }}</a></li>
    {{end}}
      </ul>
    </nav>
    <nav id="top-nav-extra"> 
      <ul>
        {{ range .Site.Menus.extra }} 
          <li>
            <a href="{{ .Permalink }}">{{ .Name }}</a>
          </li>
        {{ end }}  
      </ul>
    </nav>
  </div>
